* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.main-section {
  background-color: #fff;
  width: 50%;
  margin: 8rem auto;
  border: 1px solid gainsboro;
  text-align: start;
  z-index: 900;
}

p {
  color: gray;
  text-align: start;
  margin-left: 0.9rem;
}

.headline {
  border-bottom: 1px solid rgb(231, 219, 219);
  color: gray;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rotate,
.arrow {
  text-align: end;
}

.fa-rotate {
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.fa-arrow-left {
  padding: 0.9rem 0.5rem;
  font-size: 0.7rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  background-color: transparent !important;
  border: none !important;
}

input:focus {
  outline: none;
}

#todo-items li {
  list-style-type: none;
}

.list-item-hover {
  background-color: #edac1f;
}

.list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr 1fr 0.5fr);
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid rgb(231, 219, 219);
}

.text-input {
  grid-column: 2/9;
}

.hide {
  display: none;
}

.icons {
  text-align: right;
  padding-right: 1rem;
  color: gray;
}

.list-section {
  border-bottom: 1px solid rgb(231, 219, 219);
  color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* CSS animation */
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body {
  font-family: "Exo", sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 0;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #4e54c8;
  background: linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* stylelint-disable */
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* stylelint-enable */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
